<div class="container">

<h3> Comment section </h3>

<%= link_to 'Show comments', '#', id: "comments-link", :remote => true %>

<div id='comments-section'>
	<div id="comments">
		<%= render @comments %>
	</div>	
</div>

<br>
<%= link_to 'Back', articles_path, class:'btn btn-info' %>

</div>
